$hexagon: #afeeee;
$lostcolor: rgb(158, 214, 249);
$foundcolor: rgb(120, 207, 110);
$transparent: rgba(0,0,0,0);

@font-face {
    font-family: 'myfont';
    // font-style: normal;
    src: url('../res/ShigotoMemogaki-Regular-1-01.ttf') ;
}


h1{
    font-family: myfont;
    text-align: center;
}

#result-div{
border: $transparent;
background-color: $transparent;
}

#diaryInput{
border: $transparent;
background-color: $transparent;
color: $transparent;
}



button{
    color:white;
    background-color:  rgba( 255, 255, 255, 0.1 );
    border: $lostcolor;
    :hovera{
        background-color:  red;
    }
}

body {
    width: 100%;
    height: 100vh;
    background:linear-gradient(45deg, #fff1eb,#ced9ff,#ace0f9);/*グラデーションを定義*/
    background-size: 200% 200%;/*サイズを大きくひきのばす*/
    animation: bggradient 20s ease infinite;
  }

  @keyframes bggradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }